
.container {
    width: 1200px;
    outline: 2px dashed red;
    margin: 0 auto;
    padding: 0 15px;
}
.header .container{
display:flex;
align-items: center;
justify-content: center;
padding-left: 15px;
padding-top: 10px;
padding-bottom: 15px;
}
.header-navigation{
    margin-left: 93px;
}
.header-list{
    display: flex;
    gap: 135px;
}
.hero .container{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 15px;
margin-top: 50px;
margin-bottom: 50px;
}

.item:nth-child(1){
display: flex;
justify-content: center;
align-items: center;
}
.item:nth-child(2){
display: flex;
justify-content: center;
align-items: center;
}
.name{
letter-spacing: 0.75px;    
}
.Student{
letter-spacing: 0.75px;
}
.mini-text{
letter-spacing: 0.75px;
}
.about .container{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
margin-bottom: 50px;
}
.about-info{
letter-spacing: 0.75px;
}
.gallery .container{
background-color: lightblue;
}